.iframely {
    max-width: 600px;
    margin: 1.5rem 2em;
  }
  
  iframe.embedly-card {
    box-shadow: 5px 2.5px 2.5px 2.5px rgba(0,0,0,.4);
    border-radius: 5px;
  }
  
  /* feature of HSS */
  header, footer {
    background-color: #F5F5F5;
  }
  